body {
   background-color: antiquewhite;
}

.shorten_text {
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
   overflow: hidden;
   height: 4.5em;
   text-overflow: ellipsis;
}
