{% extends "template.html" %}

{% block subtitle %}
Projects
{% endblock %}

{% block nav %}
{% include "user_nav.html" %}
{% endblock %}

{% block main %}
<div class="container mt-3">
    <h2>Profile</h2>
    <h4>Invitations</h4>
    {% for invitation in invitations %}
        <div class="card mt-1">
            <div class="card-body">
                <div class="row">
                    <div class="col">User <strong>{{ invitation.sender_user }}</strong> invited you to project called <strong>{{ invitation.title }}</strong></div>
                    <div class="col-3 text-end">
                        <a role="button" class="btn btn-success btn-sm" href="{{ url_for('accept_invitation', _id=invitation._id) }}">Accept</a>
                        <a role="button" class="btn btn-danger btn-sm" href="{{ url_for('decline_invitation', _id=invitation._id) }}">Decline</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}