{% extends "template.html" %}

{% block subtitle %}
Project tasks
{% endblock %}

{% block nav %}
{% include "user_nav.html" %}
{% endblock %}

{% block main %}
<div class="container mt-3">
    <h2>{{ project.title }}</h2>
</div>
<div class="container mt-3">
    <h3>Create new task</h3>
    <form action="{{ url_for('project_tasks', _id=project._id) }}" method="POST">
        <fieldset>
            <div class="mb-3">
                <label for="heading" class="form-label">Heading: </label>
                <input type="text" name="heading" class="form-control" placeholder="Enter heading">
            </div>
            <div class="mb-3">
                <label for="deadline" class="form-label">Deadline: </label>
                <input type="date" name="deadline" class="form-control" placeholder="Enter deadline">
            </div>
            <div class="mb-3">
                <label for="priority" class="form-label">Priority: </label>
                <select name="priority" class="form-control">
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description: </label>
                <textarea name="description" class="form-control" placeholder="Enter description" rows="4"></textarea>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Create task</button>
    </form>
</div>


<div class="container mt-4">
    <h3>Tasks in {{ project.title }}</h3>
    {% include "print_tasks.html" %}
</div>

{% endblock %}