{% extends "template.html" %}

{% block subtitle %}
Projects
{% endblock %}

{% block nav %}
{% include "user_nav.html" %}
{% endblock %}

{% block main %}
<div class="container mt-3">
    <h2>Projects</h2>
    <form action="/projects" method="POST">
        <fieldset>
            <div class="mb-3">
                <label for="title" class="form-label">Title: </label>
                <input type="text" name="title" class="form-control" placeholder="Enter title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description: </label>
                <textarea name="description" class="form-control" placeholder="Enter description" rows="4"></textarea>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Create project</button>
    </form>

    {% include "print_projects.html" %}
</div>
{% endblock %}