{% extends "template.html" %}

{% block subtitle %}
Registration
{% endblock %}

{% block main %}
<h2>Registration</h2>
<form action="/registration" method="post">
    <fieldset>
        <label for="username">Username: </label>
        <input type="text" name="username" required>
        <label for="email">Email: </label>
        <input type="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
    </fieldset>
    <button type="submit">Sign in</button>
</form>
{% endblock %}