{% extends "template.html" %}

{% block subtitle %}
Task details
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('homepage') }}">TODOs</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('homepage') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('tasks') }}">Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">?? Add task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Friends</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
                <a role="button" class="nav-link btn btn-outline-dark btn-lg" href="{{ url_for('profile') }}">{{ username }}</a>
            </li>
            <li class="nav-item">
                <a role="button" class="nav-link btn btn-primary btn-lg" href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container mt-2">
    <h2>Task details</h2>
    <form action="/create_task" method="POST">
        <fieldset>
            <div class="mb-3">
                <label for="heading" class="form-label">Heading: </label>
                <input type="text" name="heading" class="form-control" value="{{ task.heading }}">
            </div>
            <div class="mb-3">
                <label for="deadline" class="form-label">Deadline: </label>
                <input type="date" name="deadline" class="form-control" value="{{ task.deadline }}">
            </div>
            <div class="mb-3">
                <label for="priority" class="form-label">Priority: </label>
                <select name="priority" class="form-control" value="">
                    <option value="high">High</option>
                    <option value="medium">Medium</option>
                    <option value="low">Low</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description: </label>
                <textarea name="description" class="form-control" rows="8">{{ task.description }}</textarea>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
</div>
{% endblock %}